body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  padding-top: 20px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  border: 1px solid black;
  padding: 10px;
  margin: 5px 0;
  width: 200px;
  box-sizing: border-box;
  cursor: grab;
}
li.highlighted {
  background-color: yellow;
}
li.dragging {
  opacity: 0.5;
}
h1 {
  text-align: center;
}
.container {
  text-align: center;
}
#orderButton {
  width: 100px;
  height: 30px;
}
