<!DOCTYPE html>
<html lang="en" class="dark-mode">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AHP Prioritiser</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="dark-mode">
    <div class="container d-flex flex-column align-items-center">
      <h1>Rank Below by Preference</h1>
      <div class="toggle-container">
        <label class="switch">
          <input type="checkbox" id="darkModeToggle" checked />
          <span class="slider"></span>
        </label>
      </div>
      <ul id="itemsList" class="list-unstyled"></ul>
      <div class="d-flex justify-content-center">
        <button id="orderButton" class="btn btn-primary m-2">Order</button>
        <button id="randomiseButton" class="btn btn-info m-2">Randomise</button>
      </div>
    </div>

    <div id="overlay" class="overlay">
      <div class="overlay-content dark-mode">
        <div class="left-half" id="leftHalf">
          <p>Left Half Text</p>
        </div>
        <div class="right-half" id="rightHalf">
          <p>Right Half Text</p>
        </div>
      </div>
    </div>

    <script src="{% static 'main.js' %}"></script>
  </body>
</html>
