body {
  font-family: "Segoe", "Segoe UI", "Arial", "sans-serif";
  background-color: #e7ecf0 !important;
  padding-top: 20px;
}

ul {
  padding: 0;
  margin: 0;
  max-width: 300px;
}

li {
  padding: 10px;
  margin: 4px 0;
  border-radius: 10px;
  background-color: #f5f5f5;
  cursor: grab;
  width: 300px;
  text-align: center;
}

li.highlighted {
  background-color: yellow;
}

li.dragging {
  opacity: 0.5;
}

h1 {
  text-align: center;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Slightly less transparent matte effect */
  backdrop-filter: blur(1px); /* Even more reduced matte effect */
  z-index: 1;
}

.overlay-content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 250px;
  background: rgba(
    255,
    255,
    255,
    0.5
  ); /* Less transparent glass effect background */
  border-radius: 15px; /* Rounded edges */
  backdrop-filter: blur(2px) saturate(120%); /* Even more reduced blur */
  -webkit-backdrop-filter: blur(2px) saturate(120%); /* For Safari */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
}

.left-half,
.right-half {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.left-half {
  border-right: 1px solid rgba(255, 255, 255, 0.18);
}

.left-half p,
.right-half p {
  margin: 0;
}

/* Dark mode styles */
body.dark-mode {
  background-color: black !important;
  color: white;
}

body.dark-mode li {
  border-color: rgba(255, 255, 255, 0.3);
  background-color: #252423;
}

body.dark-mode #itemsList {
  border-color: rgba(255, 255, 255, 0.3);
}

.overlay-content.dark-mode {
  background: rgba(51, 51, 51, 0.5); /* Less transparent in dark mode */
  color: white;
}

/* Toggle Switch Styles */
.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #196be5;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
